@use '../../../styles/variables';

.detailContainer {
	display: flex;
	flex: 1;
	background-color: variables.$white;
	border-radius: .5rem;
	margin-top: variables.$margin-top;
	justify-content: center;
	align-items: center;

	.notFound {
		font-size: 2rem;
	}

	.details {
		display: flex;
		flex-flow: column nowrap;

		span {
			text-align: center;
			font-size: 1.5rem;
			padding: 1rem;
		}
	}
}