@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$background-color: rgb(245,245,245);
$title-color: rgb(127, 83, 159);
$white: rgb(255, 255, 255);

$margin-top: 4rem;