.sidebar {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 0 2rem 0 6rem;
	overflow: hidden;

	.sidebarItemContainer {
		height: 514px;
		overflow-y: auto;
	}

	.information {
		display: flex;
		flex-direction: column;
		padding: 4rem 0;

		.informationTitle {
			font-size: 2.5rem;
			font-weight: 100;

			strong {
				font-weight: 300;
			}
		}

		.informationSubTitle {
			font-size: 1.4rem;
			font-weight: 100;
		}
	}
}